* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: snow;
    font-family: 'Lato', sans-serif;
}

body {
    overflow-x: hidden;
}

.logo {
    width: 100px;
}

section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container {
    width: 90vw;
    height: 100vh;
    max-width: 80%;
    margin: auto;   
    position: relative; 
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    filter: brightness(25%) grayscale(20%);
    z-index: -99;
}

.logo {
    width: 70px;
}

#first-section-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#first-section-nav div {
    border: 2px solid snow;
    padding: 6px 13px;
    font-weight: 700;
    cursor: pointer;
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#title {
    font-size: 2.5em;
    text-align: center;
    top: 40%;
}

.prova-gratuita {
    top: 55%;
    background: #f78b24;
    padding: 12px 15px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
}

.prova-gratuita:hover {
    opacity: 0.8;
}

#consigli {
    width: 80vw;
    top: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#consigli div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#consigli div div {
    padding: 30px;
    text-align: center;
}

#second-section h2 {
    color: #000;
    font-size: 2em;
    top: 15%;
    text-align: center;
    width: 30%;
    padding-bottom: 20px;
}

#second-section p {
    color: #333;
    top: 25%;
    text-align: center;
    width: 40%;
    font-size: 1.2em;
}

#background-second-section {
    width: 2000px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.second-section-button {
    top: 35%
}

.cornice {
    padding-top: 70px;
}

.cornice h2 {
    color: #000;
    text-align: center;
    font-size: 1.7em;
}

.cornice div {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.cornice-img {
   width: 11.5%;
}

#third-section * {
    color: black
}

#third-section div {
    display: flex;
    flex-direction: column;
    text-align: center;

} 

#third-section div h2{
    color: black;
    font-size: 1.7em;
}

#third-section div p {
    padding-top: 10px;
    color: #333;
    font-size: 1.2em;
}

#pagamenti {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.payments-offer {
    border: 2px solid #d4c9b9;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
}

.payments-offer i {
    margin-top: -40px;
    padding-bottom: 10px;
    color: rgb(240, 219, 33) !important;
}

.payments-offer .prezzo {
    font-size: 1.7em;
    font-weight: bold;
}

.car div {
    padding-top: 2px;
    color: rgb(131, 130, 130) !important;
}

.prova-gratuita-third-section {
    background: #f78b24;
    width: 80%;
    margin: 10px auto;
    padding: 8px 12px;
    font-weight: 700;
    cursor: pointer;
}

.prezzo {
    padding: 5px 0;
}

.utente {
    padding: 10px;
    font-weight: bold;
    font-size: 1.6em;
}


footer {
    background: #333;
    color: snow;
}

footer a {
    color: snow;
    text-decoration: underline;
}

footer {
    padding: 30px;
}